:root {
  --main-bg-color: #f5f5dc;
  --main-color: #008080;
  --hover-color: #02b1c8;
  --box-shadow: -2px 0px 8px 2px rgba(0, 128, 128, 0.1);
  --transition: 250ms linear;
}

.irish-glover {
  font-family: var(--irish-glover);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

.error {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  flex-grow: 1;
  padding: 10px 8px 24px;
  width: 320px;
  min-height: calc(100vh - 361px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width: 401px) {
  .wrapper {
    min-height: calc(100vh - 111px);
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px 134px 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 26px 210px 44px;
    width: 1440px;
  }
}
