.header {
  padding: 15px 0;
  box-shadow: var(--box-shadow);
}

.navigation {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.item {
  transition: transform var(--transition), color var(--transition);
}

.item:hover,
.item:focus {
  transform: scale(1.1);
  color: var(--hover-color);
}
